// Debug build configuration
#include "Shared.xcconfig"

// Optimization
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES

// Debug Information
DEBUG_INFORMATION_FORMAT = dwarf
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

// Other Debug Settings
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
